# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/

# Environment variables 
.env
*.env

# Database
*.db
*.sqlite
*.sqlite3

# Node / React
node_modules/
dist/
build/
.DS_Store

# IDE
.vscode/
.idea/
*.swp

# uv
.python-version